body{
    width: 100%;
    overflow-x: hidden;
}

header{
    height: 100vh;
}
.about, .about .konten-about{
    height: 100vh;
}
.img-about{
    width: 410px;
    height: 500px;
    border: 4px solid rgb(32, 160, 96);
    transform: translateX(86px);
}
.img-about img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.decore-line{
    width:100%;
    height: 3px;
}
.list-about ul li div:first-child{
    display: inline-block;
    width: 86px;
}
.what{
    height: 100vh;
}
.resume{
    min-height: 100vh;
    padding: 120px 0;
}
.edu{
    border-left: 2px solid var(--primary);
}
.portfolio{
    height: 100vh;
}
.work{
    height: 380px;
}
.bg-img{
    overflow: hidden;
    height: 380px;
    width: 100%;
    z-index: -1;
}
.bg-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.faq{
    height: 100vh;
}
.icon-faq{
    width: 270px;
    height: 220px;
}
.icon-faq img{
    width: 100%;
    height: 100%;
}
.contact{
    height: 100vh;
}
footer{
    height: 140px;
}

/* responsive */
@media screen and (max-width: 1000px) { 
    .nav{
        padding-top: 20px;
    }
    .nav-item{
        border-bottom: 1px solid rgba(32, 32, 32, 0.212) !important;
    }

}